/* diverse */

body {
	margin: 0 0 50px;
	padding: 0;
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

.skjuloverflow {
	overflow: hidden;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper img {
	max-width: 720px;
}

h3 {
	margin-bottom: 0;
}


/* fonts */

@font-face {
	font-family: 'playbillregular';
	src: url('fonts/playbill/playbill-webfont.woff2') format('woff2'),
	url('fonts/playbill/playbill-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arial_rounded_mt_boldbold';
	src: url('fonts/arial_rounded/arlrdbd-webfont.woff2') format('woff2'),
	url('fonts/arial_rounded/arlrdbd-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/* søm-måtte */

#soemmaatte_knapper {
	width: 100vw;
	height: 2vw;
	position: absolute;
	z-index: 200;
}

/* - - - - - - - scene og baggrund  - - - - - - - - */

#scene {
	width: 100vw;
	height: 56.25vw;
	position: relative;
	overflow: hidden;
}

#baggrund_buske {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund_buske.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}


#baggrund_trae {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund_trae.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

#baggrund_mark {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund_mark.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

#baggrund_bjerge {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund_bjerge.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

/* sten */

#sten {
	width: 3.64vw;
	height: 3.64vw;
	background-image: url(images/sten.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 48vw;
	left: 26vw;
	z-index: 35;
}

/* røg fra skorsten */

#roeg {
	width: 32.29vw;
	height: 9.21vw;
	background-image: url(images/roeg.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -1vw;
	left: 72vw;
	z-index: 10;
	animation-name: roeg_kf;
	transform-origin: bottom left;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 0;
}

#roeg_2 {
	width: 32.29vw;
	height: 9.21vw;
	background-image: url(images/roeg_2.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -1vw;
	left: 72vw;
	z-index: 10;
	animation-name: roeg_2_kf;
	transform-origin: bottom left;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 0;
}

/* Røg "animation" */

@keyframes roeg_kf {
	0% {
		opacity: 0;
		transform: rotate(0deg) scaleX(1)
	}

	25% {
		opacity: 0.7;
		transform: rotate(-8deg) scaleX(1.2)
	}
	50% {
		opacity: 0.5;
		transform: rotate(0deg) scaleX(1.5)
	}
	75% {
		opacity: 0.5;
		transform: rotate(-2deg) scaleX(1.7)
	}
	85% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: rotate(0deg) scaleX(2)
	}
}

@keyframes roeg_2_kf {
	0% {
		opacity: 0;
		transform: rotate(0deg) scaleX(1)
	}
	15% {
		opacity: 1;
	}

	25% {
		opacity: 1;
		transform: rotate(-3deg) scaleX(1.5)
	}
	50% {
		opacity: 1;
		transform: rotate(0deg) scaleX(2)
	}
	75% {
		opacity: 1;
		transform: rotate(0deg) scaleX(2.5)
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(0deg) scaleX(3)
	}
}

/* - - - - - - - figurer - - - - - - - - */

/* kanin container */

#kanin_container {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
}

/* kanin sprite */

#kanin_sprite {
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/kaninspritesheet.svg);
	background-size: 1200% 800%;
}

/* jæger container */

#jaeger_container {
	position: absolute;
	width: 26.04vw;
	height: 31.25vw;
}

/* jæger sprite */

#jaeger_sprite {
	width: 26.04vw;
	height: 31.25vw;
	background-image: url(images/jaegerspritesheet.svg);
	background-size: 1400% 600%;
}

/* - - - - - - - scene: startskaerm - - - - - - - - */

#start_skilt {
	width: 57.81vw;
	height: 39.06vw;
	top: 3.77vw;
	left: 20.31vw;
	background-image: url(images/start_skilt.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 145;
}

#start_knap {
	width: 18.22vw;
	height: 7.81vw;
	top: 30vw;
	left: 22vw;
	background-image: url(images/start_knap.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 55;
	animation-name: start_knap_blink_kf;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	z-index: 150;
}

/* start_knap animation */

@keyframes start_knap_blink_kf {
	0% {
		transform: scale(0.8)
	}
	35% {
		transform: scale(0.9)
	}
	45% {
		transform: scale(0.7)
	}
	50% {
		transform: scale(0.8)
	}
	100% {
		transform: scale(0.8)
	}
}

#start_knap:hover {
	background-image: url(images/start_knap_hover.svg);
	transition: background-image 0.75s;
}

#nedtoning {
	width: 100vw;
	height: 56.25vw;
	top: 0;
	left: 0;
	background-color: #fff;
	position: absolute;
	z-index: 45;
	opacity: 0.85;
	z-index: 140;
}

.skjult {
	display: none;
}

.synlig {
	display: block;
}

/* jæger sidder på kasse (container) */

.jaeger_sidder {
	top: 12vw;
	left: 67.5vw;
	z-index: 50;
}

/* jæger sidder stille (sprite) */

.jaeger_sidder_stille {
	background-position: 0 0;
}


/* - - - - - - - scene: kanin_hop_ind - - - - - - - - */

/* kanin ind (container) */

.kanin_ind_fra_siden {
	top: 17vw;
	left: 1vw;
	z-index: 35;
	animation-name: kanin_ind_fra_siden_kf;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_ind_fra_siden_kf {
	0% {
		top: 10vw;
		left: -18vw;
	}
	18% {
		top: 17vw;
		left: -18vw;
	}
	50% {
		top: 17vw;
		left: -8vw;
	}
	65% {
		top: 17vw;
		left: -8vw;
	}
	85% {
		top: 17vw;
		left: 1vw;
	}

	100% {
		top: 17vw;
		left: 1vw;
	}
}


/* kanin hopper ind - (sprite) */

.kanin_hop_fremad {
	animation-name: kanin_hop_fremad_kf;
	animation-duration: 1s;
	animation-timing-function: steps(12);
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
}

@keyframes kanin_hop_fremad_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1200% 0;
	}
}



/* - - - - - - - scene: jaeger_drikker - - - - - - - - */

/* kanin position bag træ - (container) */

.kanin_bag_trae {
	top: 17vw;
	left: 1vw;
	z-index: 35;
}

/* kanin stilbillede - (sprite) */

.kanin_staar {
	background-position: 0 0;
}


/* jæger drikker af flaske (sprite) */

.jaeger_drikker {
	animation-name: jaeger_drikker_kf;
	animation-duration: 2s;
	animation-timing-function: steps(14);
	animation-iteration-count: 3;
	animation-fill-mode: forwards;
}

@keyframes jaeger_drikker_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1400% 0;
	}
}

/* - - - - - - - scene: jaeger_falder_i_soevn - - - - - - - - */

/* jæger falder i søvn (sprite) */

.jaeger_falder_i_soevn {
	animation-name: jaeger_falder_i_soevn_kf;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes jaeger_falder_i_soevn_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1000% -100%;
	}
}

/* - - - - - - - scene: jaeger_sover - - - - - - - - */

/* jæger sover (sprite) */

.jaeger_sover {
	animation-name: jaeger_sover_kf;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes jaeger_sover_kf {
	0% {
		background-position: 0 -200%;
	}
	100% {
		background-position: -1000% -200%;
	}
}

/* kanin blinker med øjnene (sprite) */

.kanin_blinker {
	animation-name: kanin_blinker_kf;
	animation-duration: 2s;
	animation-timing-function: steps(8);
	animation-iteration-count: 2;
}

@keyframes kanin_blinker_kf {
	0% {
		background-position: 0 -300%;
	}
	100% {
		background-position: -800% -300%;
	}
}

/* - - - - - - - scene: taktikvalg - - - - - - - - */

#taktikvalg_skilt {
	width: 57.81vw;
	height: 39.06vw;
	top: 3.77vw;
	left: 20.31vw;
	padding: 7vw 10vw;
	background-image: url(images/taktikvalg_skilt.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 145;
}

.taktikvalg_rubrik {
	font-family: 'playbillregular';
	font-size: 7vw;
	text-transform: uppercase;
	color: #42210b;
	margin: 0 0 1vw;

}

.taktikvalg_wrapper {
	display: flex;
	margin: 0 0 2vw;
}

#taktikvalg_knap_a {
	min-width: 6.51vw;
	height: 5.98vw;
	background-image: url(images/taktikvalg_knap_a.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#taktikvalg_knap_a:hover {
	background-image: url(images/taktikvalg_knap_a_hover.svg);
	transition: background-image 0.75s;
}

#taktikvalg_knap_b {
	min-width: 6.51vw;
	height: 5.98vw;
	background-image: url(images/taktikvalg_knap_b.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.15;
}

.taktikvalg_tekst {
	font-family: 'arial_rounded_mt_boldbold';
	font-size: 2vw;
	color: #000;
	padding-left: 1vw;
}

#taktikvalg_tekst_a:hover {
	color: #fff;
	transition: color 0.75s;
}


#taktikvalg_tekst_b {
	opacity: 0.15;
}

/* - - - - - - - scene: kanin_hopper_frem - - - - - - - - */

/* kanin hopper til højre (container) */

.kanin_et_hop_til_hoejre {
	top: 17vw;
	left: 1vw;
	z-index: 35;
	animation-name: kanin_et_hop_til_hoejre_kf;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_et_hop_til_hoejre_kf {
	0% {
		top: 17vw;
		left: 1vw;
	}
	70% {
		top: 20vw;
		left: 4vw;
	}
	100% {
		top: 23.5vw;
		left: 6vw;
	}
}

/* kaninen drejer i luften imens (sprite) */

.kanin_drej_i_luften {
	animation-name: kanin_drej_i_luften_kf;
	animation-duration: 1s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_drej_i_luften_kf {
	0% {
		background-position: 0 -200%;
	}
	100% {
		background-position: -1200% -200%;
	}
}

/* - - - - - - - scene: kanin_staar_mod_marken - - - - - - - - */

/* kanin vender mod marken - (container) */

.kanin_mark_possition {
	top: 23.5vw;
	left: 6vw;
	z-index: 50;
}

/* kanin vender mod marken - (sprite) */

.kanin_ryg_til {
	background-position: 0 -100%;
}


/* - - - - - - - scene: kanin_mark_hop_1 - - - - - - - - */

/* kanin_mark_hop_1 (container) */

.kanin_mark_move_1 {
	z-index: 50;
	animation-name: kanin_mark_hop_1_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_1_kf {
	0% {
		top: 23.5vw;
		left: 6vw;
	}
	25% {
		top: 23.5vw;
		left: 6vw;
	}
	60% {
		top: 19vw;
		left: 13vw;
	}
	100% {
		top: 19vw;
		left: 13vw;
	}
}

.kanin_mark_possition_1 {
	top: 19vw;
	left: 13vw;
	z-index: 50;
}


/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop {
	animation-name: kanin_mark_hop_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}


/* - - - - - - - scene: kanin_mark_hop_2 - - - - - - - - */

/* kanin_mark_move_2 (container) */

.kanin_mark_move_2 {
	animation-name: kanin_mark_move_2_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_move_2_kf {
	0% {
		top: 19vw;
		left: 13vw;
		z-index: 50;
	}
	25% {
		top: 19vw;
		left: 13vw;
		z-index: 50;
	}
	60% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
	}
	100% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop_2 {
	animation-name: kanin_mark_hop_2_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_2_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

.kanin_mark_possition_2 {
	top: 20vw;
	left: 20vw;
	z-index: 25;
}

/* - - - - - - - scene: kanin_mark_hop_3 - - - - - - - - */

/* kanin_mark_move_3 (container) */

.kanin_mark_move_3 {
	z-index: 25;
	animation-name: kanin_mark_move_3_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_move_3_kf {
	0% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
	}
	25% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
	}
	60% {
		top: 23vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.8);
	}
	100% {
		top: 23vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.8);
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop_3 {
	animation-name: kanin_mark_hop_3_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_3_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

.kanin_mark_possition_3 {
	top: 23vw;
	left: 22vw;
	z-index: 25;
	transform: scale(0.8);
}

/* - - - - - - - scene: kanin_mark_hop_4 - - - - - - - - */

/* kanin_mark_move_4 (container) */

.kanin_mark_move_4 {
	z-index: 25;
	animation-name: kanin_mark_move_4_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_move_4_kf {
	0% {
		top: 23vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.8);
	}
	25% {
		top: 23vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.8);
	}
	60% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
		transform: scale(0.75);
	}
	100% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
		transform: scale(0.75);
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop_4 {
	animation-name: kanin_mark_hop_4_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_4_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

.kanin_mark_possition_4 {
	top: 20vw;
	left: 20vw;
	z-index: 25;
	transform: scale(0.75);
}

/* - - - - - - - scene: kanin_mark_hop_5 - - - - - - - - */

/* kanin_mark_move_5 (container) */

.kanin_mark_move_5 {
	z-index: 25;
	animation-name: kanin_mark_move_5_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_move_5_kf {
	0% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
		transform: scale(0.75);
	}
	25% {
		top: 20vw;
		left: 20vw;
		z-index: 25;
		transform: scale(0.75);
	}
	60% {
		top: 13vw;
		left: 18vw;
		z-index: 25;
		transform: scale(0.73);
	}
	100% {
		top: 13vw;
		left: 18vw;
		z-index: 25;
		transform: scale(0.73);
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop_5 {
	animation-name: kanin_mark_hop_5_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_5_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

.kanin_mark_possition_5 {
	top: 13vw;
	left: 18vw;
	z-index: 25;
	transform: scale(0.73);
}

/* - - - - - - - scene: kanin_mark_hop_5 - - - - - - - - */

/* kanin_mark_move_5 (container) */

.kanin_mark_move_6 {
	z-index: 25;
	animation-name: kanin_mark_move_6_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_move_6_kf {
	0% {
		top: 13vw;
		left: 18vw;
		z-index: 25;
		transform: scale(0.75);
	}
	25% {
		top: 13vw;
		left: 18vw;
		z-index: 25;
		transform: scale(0.75);
	}
	60% {
		top: 11.5vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.72);
	}
	100% {
		top: 11.5vw;
		left: 22vw;
		z-index: 25;
		transform: scale(0.72);
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_mark_hop_6 {
	animation-name: kanin_mark_hop_6_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_mark_hop_6_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

.kanin_mark_possition_6 {
	top: 11.5vw;
	left: 22vw;
	z-index: 25;
	transform: scale(0.72);
}

/* - - - - - - - scene: xxxxx - - - - - - - - */

/* jæger skyder (sprite) */

.jaeger_skyder {
	animation-name: jaeger_skyder_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(14);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes jaeger_skyder_kf {
	0% {
		background-position: 0 -500%;
	}
	100% {
		background-position: -1400% -500%;
	}
}

/* Kanin bliver skudt - blodsplat */

#blod-splat_container {
	position: absolute;
	width: 20.83vw;
	height: 20.83vw;
	top: 50vw;
	left: 50vw;
	z-index: 35;
}

#blod_splat_sprite {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/blodspritesheet.svg);
	background-size: 1000% 100%;
}

.blod_splat_animation {
	animation-name: blod_splat_animation_kf;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes blod_splat_animation_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1000% 0;
	}
}


/* Kanin bliver skudt - kopi af kaninsprite */

#afskudt_hovede_container {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	top: 20vw;
	left: 20vw;
	z-index: 35;
}

.afskudt_hovede_flyv {}

#afskudt_hovede_sprite {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/kaninspritesheet.svg);
	background-size: 0 700%;
}

.afskudt_hovede_drej_rund {
	transform: rotate(360deg);
}

/* kanin stilbillede - (sprite) */

.kanin_glad {
	background-position: 0 -400%;
}

/* kanin stilbillede - (sprite) */

.kanin_bange {
	background-position: 0 -500%;
}

/* kanin stilbillede - (sprite) */

.kanin_uden_hoved {
	background-position: 0 -600%;
}

.kanin_uden_krop {
	background-position: 0 -700%;
}

/* spil-slutning */

#slut_du_vinder_skilt {}

#slut_du_vinder_skilt {}

#slut_spil_igen-knap {}

#slut_afslut_spil_knap {}

/* - - - - - - - til højre ben - - - - - - - - */

/* Vindue bliver smadret */

#vindue_container {}

#vindue_sprite {}

.vindue_smadrer {}


/* Spil-del */

#spil_infoskilt {}

#spil_ok-knap {}

#spil_gulerod_1 {}

#spil_gulerod_2 {}

#spil_gulerod_3 {}

#spil_gulerod_4 {}

#spil_gulerod_5 {}

#spil_gulerod_6 {}

#spil_gulerod_7 {}

#spil_scoreboard {}

#spil_timer {}
