/* diverse */

body {
	margin: 0 0 50px;
	padding: 0;
	box-sizing: border-box;
}

.skjuloverflow {
	overflow: hidden;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.wrapper img {
	max-width: 720px;
}

h3 {
	margin-bottom: 0;
}


/* scene og baggrund */

#scene {
	width: 100vw;
	height: 56.25vw;
	position: relative;
	overflow: hidden;
}

#baggrund-buske {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund-buske.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}


#baggrund-trae {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund-trae.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;
}

#baggrund-mark {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund-mark.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

#baggrund-bjerge {
	width: 100vw;
	height: 56.25vw;
	background-image: url(images/baggrund-bjerge.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

/* sten */

#sten {
	width: 3.64vw;
	height: 3.64vw;
	background-image: url(images/sten.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 48vw;
	left: 26vw;
	z-index: 35;
}

/* røg fra skorsten */

#roeg {
	width: 32.29vw;
	height: 9.21vw;
	background-image: url(images/roeg.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -1vw;
	left: 72vw;
	z-index: 10;
	animation-name: roeg_kf;
	transform-origin: bottom left;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 0;
}

#roeg-2 {
	width: 32.29vw;
	height: 9.21vw;
	background-image: url(images/roeg-2.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -1vw;
	left: 72vw;
	z-index: 10;
	animation-name: roeg-2_kf;
	transform-origin: bottom left;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity: 0;
}


/* Kanin bliver skudt - blodsplat */

#blod-splat_container {
	position: absolute;
	width: 20.83vw;
	height: 20.83vw;
	top: 50vw;
	left: 50vw;
	z-index: 35;
}

#blod-splat_sprite {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/blodspritesheet.svg);
	background-size: 1000% 100%;
}

.blod-splat_animation {
	animation-name: blod-splat_animation_kf;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes blod-splat_animation_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1000% 0;
	}
}


/* Kanin bliver skudt - kopi af kaninsprite */

#afskudt-hovede_container {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	top: 20vw;
	left: 20vw;
	z-index: 35;
}

.afskudt-hovede_flyv {}

#afskudt-hovede_sprite {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/kaninspritesheet.svg);
	background-size: 0 700%;
}

.afskudt-hovede_drej-rund {
	transform: rotate(360deg);
}

/* Vindue bliver smadret */

#vindue_container {}

#vindue_sprite {}

.vindue smadrer {}


/* Spil-del */

#spil_infoskilt {}

#spil_ok-knap {}

#spil_gulerod-1 {}

#spil_gulerod-2 {}

#spil_gulerod-3 {}

#spil_gulerod-4 {}

#spil_gulerod-5 {}

#spil_gulerod-6 {}

#spil_gulerod-7 {}

#spil_scoreboard {}

#spil_timer {}



/* Start-spil-grafik og game over*/

#start_knap {
	width: 18.22vw;
	height: 7.81vw;
	top: 33.5vw;
	left: 41.02vw;
	background-image: url(images/start_knap.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 55;
	animation-name: start_knap_blink_kf;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	display: none;
}

#start_skilt {
	width: 57.81vw;
	height: 39.06vw;
	top: 3.77vw;
	left: 20.31vw;
	background-image: url(images/start_skilt.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 50;
	display: none;
}

#start_nedtoning {
	width: 100vw;
	height: 56.25vw;
	top: 0;
	left: 0;
	background-color: #fff;
	position: absolute;
	z-index: 45;
	opacity: 0.85;
	display: none;
}

/* spil-slutning */

#slut-du-vinder-skilt {}

#slut-du-vinder-skilt {}

#slut-spil-igen-knap {}

#slut-afslut-spil-knap {}

/* Valg af taktik */

#taktik-valg-skilt {}

#taktik-valg-knap-a {}

#taktik-valg-knap-b {}


/* Røg "animation" */

@keyframes roeg_kf {
	0% {
		opacity: 0;
		transform: rotate(0deg) scaleX(1)
	}

	25% {
		opacity: 0.7;
		transform: rotate(-8deg) scaleX(1.2)
	}
	50% {
		opacity: 0.5;
		transform: rotate(0deg) scaleX(1.5)
	}
	75% {
		opacity: 0.5;
		transform: rotate(-2deg) scaleX(1.7)
	}
	85% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		transform: rotate(0deg) scaleX(2)
	}
}

@keyframes roeg-2_kf {
	0% {
		opacity: 0;
		transform: rotate(0deg) scaleX(1)
	}
	15% {
		opacity: 1;
	}

	25% {
		opacity: 1;
		transform: rotate(-3deg) scaleX(1.5)
	}
	50% {
		opacity: 1;
		transform: rotate(0deg) scaleX(2)
	}
	75% {
		opacity: 1;
		transform: rotate(0deg) scaleX(2.5)
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(0deg) scaleX(3)
	}
}


/* Startgrafik pulserende knap */

@keyframes start_knap_blink_kf {
	0% {
		transform: scale(0.8)
	}
	35% {
		transform: scale(0.9)
	}
	45% {
		transform: scale(0.7)
	}
	50% {
		transform: scale(0.8)
	}
	100% {
		transform: scale(0.8)
	}
}

/* - - - - - - - figurer - - - - - - - -*/

/* kanin */

#kanin_container {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	top: 17vw;
	left: 1vw;
	z-index: 35;
}

/* kanin bevæger ind (container) */

.kanin_ind-fra-siden {
	animation-name: kanin_ind-fra-siden_kf;
	animation-duration: 3.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_ind-fra-siden_kf {
	0% {
		transform: translateX(-20vw) translateY(0vw)
	}
	30% {
		transform: translateX(-10vw) translateY(-3vw)
	}
	50% {
		transform: translateX(-6vw) translateY(-1vw)
	}
	70% {
		transform: translateX(-6vw) translateY(0vw)
	}
	85% {
		transform: translateX(-2vw) translateY(0vw)
	}

	100% {
		transform: translateX(0) translateY(0vw)
	}
}

/* kanin hopper ind - (sprite) */

#kanin_sprite {
	position: absolute;
	width: 26.04vw;
	height: 28.64vw;
	background-image: url(images/kaninspritesheet.svg);
	background-size: 1200% 800%;
}

.kanin_hop_fremad {
	animation-name: kanin_hop_fremad_kf;
	animation-duration: 2s;
	animation-timing-function: steps(12);
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
}

@keyframes kanin_hop_fremad_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1200% 0;
	}
}

/* kanin position bag træ - (container) */

.kanin_position_enter {
	top: 17vw;
	left: 1vw;
}

/* kanin position bag træ - (sprite) */

.kanin_staar {
	background-position: 0 0;
}


/* kanin bevæger sig et hop til højre (container) */

.kanin_et-hop-til-hoejre {
	animation-name: kanin_et-hop-til-hoejre_kf;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_et-hop-til-hoejre_kf {
	0% {
		transform: translateX(0vw) translateY(0vw)
	}
	70% {
		transform: translateX(0vw) translateY(0vw)
	}

	100% {
		transform: translateX(5vw) translateY(6.5vw)
	}
}

/* kaninen drejer i luften imens (sprite) */

.kanin_drej-i-luften {
	animation-name: kanin_drej-i-luften_kf;
	animation-duration: 2s;
	animation-timing-function: steps(12);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes kanin_drej-i-luften_kf {
	0% {
		background-position: 0 -200%;
	}
	100% {
		background-position: -1200% -200%;
	}
}

/* kanin er hoppet ud på stien - (container) */

/*

Hvis ny position???
.kanin_position-mod-mark {
	top: 23.5vw;
	left: 6vw;
}
*/

.kanin_position-mod-mark {
	top: 17vw;
	left: 1vw;
}

/* kanin vender mod marken - (sprite) */

.kanin_staar-mod-mark {
	background-position: 0 -100%;
}

/* kanin bevæger sig hen over marken (container) */

.kanin_hen-over-marken {
	top: 17vw;
	left: 1vw;
	animation-name: kanin_hen-over-markene_kf;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes kanin_hen-over-markene_kf {
	0% {
		transform: translateX(5vw) translateY(7vw) scale(1);
	}
	8% {
		transform: translateX(5vw) translateY(7vw) scale(1);
	}
	12% {
		transform: translateX(10vw) translateY(5vw) scale(1);
	}
	20% {
		transform: translateX(15vw) translateY(5vw) scale(1);
	}
	28% {
		transform: translateX(15vw) translateY(6vw) scale(1);
	}
	35% {
		transform: translateX(15vw) translateY(6vw) scale(1);

	}
	42% {
		transform: translateX(15vw) translateY(6vw) scale(1);
	}
	45% {}
	50% {
		transform: translateX(20vw) translateY(8vw) scale(0.8);
		z-index: 25;
	}
	55% {
		transform: translateX(20vw) translateY(8vw) scale(0.8);
		z-index: 25;
	}
	60% {
		transform: translateX(22vw) translateY(10vw) scale(0.7);
		z-index: 25;
	}
	65% {
		transform: translateX(22vw) translateY(10vw) scale(0.7);
		z-index: 25;
	}
	70% {
		transform: translateX(20vw) translateY(0) scale(0.7);
		z-index: 25;
	}
	75% {
		transform: translateX(20vw) translateY(0) scale(0.7);
		z-index: 25;
	}
	80% {
		transform: translateX(18vw) translateY(-2vw) scale(0.6);
		z-index: 25;
	}
	85% {
		transform: translateX(18vw) translateY(-2vw) scale(0.6);
		z-index: 25;
	}
	90% {
		transform: translateX(20vw) translateY(-3vw) scale(0.6);
		z-index: 25;
	}
	100% {
		transform: translateX(20vw) translateY(-3vw) scale(0.6);
		z-index: 25;
	}
}

/* kanin hopper hen over marken (sprite) */

.kanin_hop-paa-mark {
	animation-name: kanin_hop-paa-mark_kf;
	animation-duration: 2s;
	animation-timing-function: steps(12);
	animation-iteration-count: 5;
	animation-fill-mode: forwards;
}

@keyframes kanin_hop-paa-mark_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1200% -100%;
	}
}

/* kanin blinker med øjnene */

.kanin_blink {
	animation-name: kanin_blink_kf;
	animation-duration: 2s;
	animation-timing-function: steps(8);
	animation-iteration-count: 2;
}

@keyframes kanin_blink_kf {
	0% {
		background-position: 0 -200%;
	}
	100% {
		background-position: -800% -200%;
	}
}

/* jæger container */

#jaeger_container {
	position: absolute;
	width: 26.04vw;
	height: 31.25vw;
	top: 12vw;
	left: 67.5vw;
	z-index: 35;
}

/* jæger sprite */

#jaeger_sprite {
	position: absolute;
	width: 26.04vw;
	height: 31.25vw;
	background-image: url(images/jaegerspritesheet.svg);
	background-size: 1400% 600%;
}

/* jæger drikker af flaske (sprite) */

.jaeger_drikker {
	animation-name: jaeger_drikker_kf;
	animation-duration: 2s;
	animation-timing-function: steps(14);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes jaeger_drikker_kf {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1400% 0;
	}
}

/* jæger falder i søvn (sprite) */

.jaeger_falder-i-soevn {
	animation-name: jaeger_falder-i-soevn_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes jaeger_falder-i-soevn_kf {
	0% {
		background-position: 0 -100%;
	}
	100% {
		background-position: -1000% -100%;
	}
}

/* jæger sover (sprite) */

.jaeger_sover {
	animation-name: jaeger_sover_kf;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes jaeger_sover_kf {
	0% {
		background-position: 0 -200%;
	}
	100% {
		background-position: -1000% -200%;
	}
}

/* jæger skyder (sprite) */

.jaeger_skyder {
	animation-name: jaeger_skyder_kf;
	animation-duration: 1.5s;
	animation-timing-function: steps(14);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes jaeger_skyder_kf {
	0% {
		background-position: 0 -500%;
	}
	100% {
		background-position: -1400% -500%;
	}
}
